<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SchoolManagmentEntities" connectionString="metadata=res://*/DatabaseModel.SchoolManagementDbModel.csdl|res://*/DatabaseModel.SchoolManagementDbModel.ssdl|res://*/DatabaseModel.SchoolManagementDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\ALI2016MSSQLSERV;initial catalog=SchoolManagment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>